# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
node_modules/
.bower_components/

# Build and output directories
dist/
build/
out/

# Reports
reports/
*.html

# System files
.DS_Store
Thumbs.db
*.swp
*.lock
*.bak

# Environment files
.env
.env.local
.env.*.local

# IDE files
.vscode/
.idea/

# Playwright specific
playwright-report/
